<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Sports Gear Hub</title>

        <link rel="icon" href="{{ url_for('static', filename='images/logos/logo_loja.png') }}" type="image/png" sizes="64x64">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style/style_categorias.css') }}">

        <script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>
        <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

    </head>

    <body>
        <header>
            <a href="/"><img src="{{ url_for('static', filename='images/logos/logo_loja.png') }}"  alt="" srcset=""></a>

            {% with messages = get_flashed_messages() %}
                {% if messages[0] == "produto_existente_carrinho" %}
                    <div class="alerts">
                        <div class="alert_produto_carrinho" id="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
    
                            <p>Esse produto já está no carrinho</p>
                        </div>

                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                const alertElement = document.getElementById('alert');

                                // Define um temporizador para ocultar o alerta após 2 segundos
                                setTimeout(() => {
                                    alertElement.style.opacity = '0'; // Faz o alerta desaparecer
                                }, 2000); // 2000 milissegundos = 2 segundos
                            });
                        </script>
                    </div>
                {% endif %}
            {% endwith %}

            <nav>
                <button class="carrinho" onclick="Abrir_Carrinho()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                    </svg>
                </button>

                {% if quantidade_produtos_carrinho >= 1%}
                    <div class="quantidade_produtos_carrinho">
                        <p>{{ quantidade_produtos_carrinho  }}</p>
                    </div>
                {% endif %}

                <div class="informacoes_carrinho">
                    <div class="carrinho_aberto_bg" id="modal_bg"></div>

                    <div class="carrinho_aberto" id="modal">
                        {% if quantidade_produtos_carrinho < 1 %}
                            <p>Carrinho Vazio</p>
                            <svg class="cesta_vazia" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z"/>
                            </svg>

                            <svg class="x_cesta" xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>

                        {% endif %}

                        {% if quantidade_produtos_carrinho > 0 %}
                            {% for produtos_carrinho in todos_produtos_carrinho %}
                                <div class="todos_produtos_carrinho">
                                    <div class="produto_carrinho">
                                        <img src="{{ url_for('static', filename='images/imagens_produtos/'+produtos_carrinho[3]+'/'+produtos_carrinho[2]) }}"  alt="" srcset="">
    
                                        <p>{{produtos_carrinho[0]}}</p>
    
                                        <span class="preco_produto">R$ {{produtos_carrinho[1]}}</span>

                                        <a href="/remover-produtos-carrinho/{{produtos_carrinho[0]}}/{{produtos_carrinho[1]}}/{{produtos_carrinho[2]}}/{{produtos_carrinho[3]}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="compra">
                                <p class="preco_total_carrinho">Total: </p> 
                                <span class="preco">{{preco_total_produtos_carrinho}}</span>
                                <p class="frete_carrinho">Frete: Grátis</p>
                                
                                <form action="/pagamento" method="post">
                                    <button type="submit">Comprar</button>
                                </form>
                            </div>
                        {% endif %}
                        
                        {% with messages = get_flashed_messages() %}
                            {% if messages[0] == "deixar_carrinho_aberto" %}
                                <script>
                                    document.getElementById('modal_bg').style.display = 'flex';
                                    document.getElementById('modal').style.display = 'block';
                                </script>
                            {% endif %}
                        {% endwith %}

                        
                    
                    </div>
                </div>

                <div class="menu">
                    <button onclick="Abrir_Menu()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>
                </div>

                <div class="menu_aberto_bg" id="menu_bg"></div>

                <div class="menu_aberto">
                    <div class="conteudo_menu">
                        <details>
                            <summary>Categorias</summary>
                            <ul>
                                <li><a href="/categoria/Volei">Vôlei</a></li>
                                <li><a href="/categoria/Futebol">Futebol</a></li>
                                <li><a href="/categoria/Basquete">Basquete</a></li>
                                <li><a href="/categoria/Natacao">Natação</a></li>
                                <li><a href="/categoria/Ciclismo">Ciclismo</a></li>
                            </ul>
                        </details>

                        <button class="botao_fechar" onclick="Fechar_Menu()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <main>  
              <nav>
                <ul>
                    <li><a class="rota_anterior" href="/">Início</a></li>
                    <li class="division_rota">/</li>
                    <li><a  class="rota_sucessora" href="/categoria/{{ categoria }}">{{ categoria }}</a></li>
                </ul>
              </nav>

              <section class="produtos_filtrados"> 
        
                <div class="produtos">
                    
                    {% for p in produtos_filtrados %}
                        <div>
                            <img src="{{ url_for('static', filename='images/imagens_produtos/'+p[3]+'/'+p[2]) }}"  alt="" srcset="">

                            <p class="nome_produto">{{p[0]}}</p>

                            <p class="preco_produto">R$ {{p[1]}}</p>

                            <a href="/adicionar-produtos-carrinho/{{p[0]}}/{{p[1]}}/{{p[2]}}/{{p[3]}}" class="link_adicionar_carrinho">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                                </svg>
                            </a>
                        </div>
                    {% endfor %}
            
        </main>

        <footer>
            <p>Sports Gear Hub &copy; Davi Antonio 2024</p>
        </footer>
        
    </body>
</html>