<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Sports Gear Hub</title>

        <link rel="icon" href="{{ url_for('static', filename='images/logos/logo_loja.png') }}" type="image/png" sizes="64x64">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">

        <script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>

    </head>

    <body>
        <header>
            <a href="/"><img src="{{ url_for('static', filename='images/logos/logo_loja.png') }}"  alt="" srcset=""></a>

            {% with messages = get_flashed_messages() %}
                {% if messages[0] == "produto_existente_carrinho" %}
                    <div class="alerts">
                        <div class="alert_produto_carrinho" id="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
    
                            <p>Esse produto já está no carrinho</p>
                        </div>

                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                const alertElement = document.getElementById('alert');

                                // Define um temporizador para ocultar o alerta após 2 segundos
                                setTimeout(() => {
                                    alertElement.style.opacity = '0'; // Faz o alerta desaparecer
                                }, 2000); // 2000 milissegundos = 2 segundos
                            });
                        </script>
                    </div>
                {% endif %}
            {% endwith %}

            <nav>
                <form action="/pesquisar" method="post">
                    <input type="text" placeholder="Pesquisar" name="pesquisa">
                    <button class="pesquisa" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>

                <button class="carrinho" onclick="Abrir_Carrinho()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                    </svg>
                </button>

                {% if quantidade_produtos_carrinho >= 1%}
                    <div class="quantidade_produtos_carrinho">
                        <p>{{ quantidade_produtos_carrinho }}</p>
                    </div>
                {% endif %}

                <div class="informacoes_carrinho">
                    <div class="carrinho_aberto_bg" id="modal_bg"></div>

                    <div class="carrinho_aberto" id="modal">
                        {% if quantidade_produtos_carrinho < 1 %}
                            <p>Carrinho Vazio</p>
                            <svg class="cesta_vazia" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z"/>
                            </svg>

                            <svg class="x_cesta" xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>

                        {% endif %}

                        {% if quantidade_produtos_carrinho > 0 %}
                            {% for produtos_carrinho in todos_produtos_carrinho %}
                                <div class="todos_produtos_carrinho">
                                    <div class="produto_carrinho">
                                        <img src="{{ url_for('static', filename='images/imagens_produtos/'+produtos_carrinho[3]+'/'+produtos_carrinho[2]) }}"  alt="" srcset="">
    
                                        <p>{{produtos_carrinho[0]}}</p>
    
                                        <span class="preco_produto">R$ {{produtos_carrinho[1]}}</span>

                                        <a href="/remover-produtos-carrinho/{{produtos_carrinho[0]}}/{{produtos_carrinho[1]}}/{{produtos_carrinho[2]}}/{{produtos_carrinho[3]}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="compra">
                                <p class="preco_total_carrinho">Total: </p> 
                                <span class="preco">{{preco_total_produtos_carrinho}}</span>
                                <p class="frete_carrinho">Frete: Grátis</p>
                                
                                <form action="">
                                    <button type="submit">Comprar</button>
                                </form>
                            </div>
                        {% endif %}
                        
                        {% with messages = get_flashed_messages() %}
                            {% if messages[0] == "deixar_carrinho_aberto" %}
                                <script>
                                    document.getElementById('modal_bg').style.display = 'flex';
                                    document.getElementById('modal').style.display = 'block';
                                </script>
                            {% endif %}
                        {% endwith %}
                    
                    </div>
                </div>
                   
            </nav>
        </header>


        <main>
            <section class="categorias">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">

                        </div>

                        <div class="col">
                            <a href="/categoria/Volei">Vôlei</a>
                        </div>

                        <div class="col">
                            <a href="/categoria/Futebol">Futebol</a>
                        </div>

                        <div class="col">
                            <a href="/categoria/Basquete">Basquete</a>
                        </div>

                        <div class="col">
                            <a href="/categoria/Natacao">Natação</a>
                        </div>

                        <div class="col">
                            <a href="/categoria/Ciclismo">Ciclismo</a>
                        </div>

                        <div class="col-3">

                        </div>

                    </div>
                </div>
            </section>

            <section class="produtos_em_destaque"> 
                <p class="titulo_produtos_destaque">Produtos em Destaques</p>

                <div class="produtos">
                    
                    {% for p in todos_produtos_destaque %}
                        <div>
                            <img src="{{ url_for('static', filename='images/imagens_produtos/'+p[3]+'/'+p[2]) }}"  alt="" srcset="">

                            <p class="nome_produto">{{p[0]}}</p>

                            <p class="preco_produto">R$ {{p[1]}}</p>

                            <a href="/adicionar-produtos-carrinho/{{p[0]}}/{{p[1]}}/{{p[2]}}/{{p[3]}}" class="link_adicionar_carrinho">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                                </svg>
                            </a>
                        </div>
                    {% endfor %}
                     
                </div>
            </section>

            <section class="camisas_populares">
                <p class="titulo_camisas_populares">Algumas das nossas Camisas e Tênis</p>
                <div class="camisas">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Basquete/Camisa_Basquete_2.jpg') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Basquete/Camisa_Basquete.webp') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Volei/Camisa_Volei_1.webp') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Volei/Camisa_Volei_2.webp') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Futebol/Camisa_Futebol_2.webp') }}" alt="" srcset="">
                </div>
            </section>

            <section class="tenis_populares">
                <div class="tenis">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Volei/Tenis_Volei.webp') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Volei/Tenis_Volei_2.webp') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Ciclismo/tenis_Ciclismo.jpeg') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Basquete/Tenis_Basquete.webp') }}" alt="" srcset="">
                    <img src="{{ url_for('static', filename='images/imagens_produtos/Basquete/Tenis_Basquete_2.jpeg') }}" alt="" srcset="">
                </div>
            </section>
        </main>

        <footer>
            <p>Sports Gear Hub &copy; Davi Antonio 2024</p>
        </footer>
    </body>
</html>